# .npz are user output files and should not be tracked, except for the data in examples
*.npz
!examples/*.npz

# .json are user config files and should not be tracked, except for the configs in examples
*.json
!examples/*.json